.full-width {
  width: 100%;
}

.no-top-margin {
    margin-top: 0;
}

.avatar-preview {
    min-width: 33.333333%;
    max-width: 33.333333%;
}

.avatar-small {
    width: 64px;
    height: 64px;
}

.messages-list {
    max-height: 60%;
}